<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Lisää</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="POST" action="/opiskelijat">
            Text:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää opiskelija"/>
        </form>
    </body>
</html>
